<%- include ("../partials/header"); %>



<form action = "/campgrounds/<%=campground._id%>/comments" method="POST">
  <div class="form-group">
    <label for="comment">Add comment</label>
    <input type="text" class="form-control" name="comment" aria-describedby="commenthelp" placeholder="Enter comment">
    <small id="commenthelp" class="form-text text-muted">leave a comment</small>
  </div>
  
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" name="author" aria-describedby="authorhelp" placeholder="Enter author">
    <small id="authorhelp" class="form-text text-muted">leave an author</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



<%- include ("../partials/footer"); %>